body {
    margin: 0px !important;
}



.postsListEntry {
    border: dotted gray 1px;
    margin-top: 5px;
}




.attachment-post-thumbnail, .size-post-thumbnail, .wp-post-image {
    max-width: 100%;
    height: auto;
}



/* @media screen and (max-width: 710px){

}

@media screen and (max-width: 800px){

} */