/*some general resets*/
body {
    margin: 0px !important;
}

.content-wrapper{
    padding: 20px;
}

.postsList {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

.postsListEntry {
    margin-bottom: 50px;
    list-style-type: none;
}

.attachment-post-thumbnail, .size-post-thumbnail, .wp-post-image {
    max-width: 100%;
    height: auto;
}



/* @media screen and (max-width: 710px){

}

@media screen and (max-width: 782px){}  wp

@media screen and (max-width: 800px){

} */